// TEST: Other root should not be included
.another {
  .one-width {
    outline: none;
  }
}

// TEST: media queries and at-root

@media screen {
  @supports something {
    .hello {
      @at-root (without: all) .rule-name {
        margin: 0px;
      }
    }
  }
}

@media screen {
  @supports something {
    .hello {
      @at-root (with: rule) .rule-name {
        margin: 0px;
      }
    }
  }
}

@media screen {
  @supports something {
    .hello {
      @at-root (with: supports) .rule-name {
        margin: 0px;
      }
    }
  }
}

@media screen {
  @supports something {
    .hello {
      @at-root (without: supports) .rule-name {
        margin: 0px;
      }
    }
  }
}

@media screen {
  @supports something {
    .hello {
      @at-root (without: rule) .rule-name {
        margin: 0px;
      }
    }
  }
}

@media screen {
  @supports something {
    .hello {
      @at-root .rule-name {
        margin: 0px;
      }
    }
  }
}

@media screen {
  @supports something {
    .hello {
      @at-root{
        .rule {
          margin: 0px;
        }
      }
    }
  }
}

// TEST: captures complex selectors
#hello-there.text-height {
  // TEST: spaces between selectors retained
  .something .going .on, .nothing .going.on {
    width: 1px;
    height: 1px;
    border: {
      top: 1px;
      left: 2px;
    }

    .aways {
      text-align: bottom;
      position: absolute;
    }

  @for $thing in (one two) {
    // TEST: interpolation. Must also correctly generate
    // selector.
    .test-#{$thing}-bling {
      width: 20px;
    }
  }

  // TEST: Incomplete rule head in single-line
  // comment should not be included
  // .very-bad-indeedj { .terribleq {
  // .this-could-be-worser { .darry-dad-dindeeds {
  //
  // TEST: multiple unbalanced comments in brackets
  // .hello  {{{}{{{{{{}{{}}}}}}}}}}}}}}}}}
  // .dello  {{{{{{{{{{{{{{
 .things-#{$could}-be-#{$arc} {


  /*
  TEST: Incomplete rule head in block comment
  should not be included
  .this-could-be-bad { .very-bad-indeed {

   */
  // TEST: rule before should not be included as
  // part of selector
    width: 12px;
      .therefore {
        .impossibilities {

        }
      }
    }
  }
}

// .one { .two { .three { .four{}}}}


@media only print, only screen and (max-device-width: 480px) {
  .hello {
    width: 200px;
  }
}


// TEST: parent selector replacement
.hello, .there{

  .one, .two{
    &:hover{
      width: 20px;
    }
  }
}

